.button_div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.button_good,
.button_neutral,
.button_bad {
    padding: 10px 25px;
    border: none;
    background-color: rgb(214, 41, 119);
    color: rgb(235, 226, 226);
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}
.button_good:hover {
    background-color: rgb(61, 144, 96);
}
.button_neutral:hover {
    background-color: rgb(220, 192, 9);
}
.button_bad:hover {
    background-color: rgb(225, 105, 14);
}