.container {
  background-color: #ddd5d6;
  max-width: 1158px;
  padding: 100px 15px;
  margin-left: auto;
  margin-right: auto;
}
.section_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
